.main{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress.webp);
	background-size: cover;
}
.world{
	color: black;
	font-size: 15px;
}
#sold{
	color: black!important;
	font-size: 14px!important;
}

.band{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress13.webp);
	background-size: cover;
}
.hello{
	color: black;
	font-size: 15px;
}
#com{
	color: black!important;
	font-size: 14px!important;
}
.mid{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress2.jpeg);
	background-size: cover;
}
.high{
	color: black;
	font-size: 15px;
}
#tom{
	color: black!important;
	font-size: 14px!important;
}
.duble{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress4.jpeg);
	background-size: cover;
}
.schol{
	color: black;
	font-size: 15px;
}
#jeery{
	color: black!important;
	font-size: 14px!important;
}
.five{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress14.webp);
	background-size: cover;
}
.cola{
	color: black;
	font-size: 15px;
}
#lapi{
	color: black!important;
	font-size: 14px!important;
}
.six{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress3.webp);
	background-size: cover;
}
.cyle{
	color: black;
	font-size: 15px;
}
#mob{
	color: black!important;
	font-size: 14px!important;
}






.top{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress7.webp);
	background-size: cover;
}
.wall{
	color: black;
	font-size: 15px;
}
#buy{
	color: black!important;
	font-size: 14px!important;
}

.fornt{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress8.webp);
	background-size: cover;
}
.down{
	color: black;
	font-size: 15px;
}
#rupee{
	color: black!important;
	font-size: 14px!important;
}
.side{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress9.webp);
	background-size: cover;
}
.low{
	color: black;
	font-size: 15px;
}
#tomi{
	color: black!important;
	font-size: 14px!important;
}
.single{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/fashion7.jpg);
	background-size: cover;
}
.silk{
	color: black;
	font-size: 15px;
}
#jery{
	color: black!important;
	font-size: 14px!important;
}
.box{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress11.webp);
	background-size: cover;
}
.colm{
	color: black;
	font-size: 15px;
}
#laprd{
	color: black!important;
	font-size: 14px!important;
}
.systm{
	height: 270px;
	margin-top: 20px;
	background-image: url(../img/dress12.webp);
	background-size: cover;
}
.cyel{
	color: black;
	font-size: 15px;
}
#mobi{
	color: black!important;
	font-size: 14px!important;
}